
.container {
  position: absolute;
  inset: 0;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 300px;
  pointer-events: none;
  animation: spin infinite 20s linear;
}

.loading_text {
  color: #61dafb;
  font-weight: normal;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

